.frame {
	width: 100%;
	height: 100%;
	background-image: url('../../assets/images/tiles/frame.jpg');
	background-size: cover;
	color: white;
}

.second-layer {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}